In [1]:
import pandas as pd
df = pd.read_csv('data.csv', sep=',')
df

/Users/austin/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,07/14/2018,15:55,BROOKLYN,11218,40.653910,-73.973050,POINT (-73.97305 40.65391),PROSPECT PARK SOUTHWEST,REEVE PLACE,NaN,...,Unspecified,NaN,NaN,NaN,3940677,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,07/23/2018,3:43,QUEENS,11422,40.663090,-73.733790,POINT (-73.73379 40.66309),NaN,NaN,140-22 248 STREET,...,Unspecified,NaN,NaN,NaN,3947987,Sedan,NaN,NaN,NaN,NaN
2,08/04/2018,17:09,BROOKLYN,11201,40.688225,-73.995340,POINT (-73.99534 40.688225),CONGRESS STREET,CLINTON STREET,NaN,...,NaN,NaN,NaN,NaN,3956349,Sedan,NaN,NaN,NaN,NaN
3,07/15/2018,6:30,NaN,NaN,40.732040,-73.870340,POINT (-73.87034 40.73204),LONG ISLAND EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,3941967,Sedan,NaN,NaN,NaN,NaN
4,08/04/2018,6:00,NaN,NaN,40.749714,-73.936170,POINT (-73.93617 40.749714),41 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3955618,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656939,07/13/2012,15:30,BROOKLYN,11217,40.687871,-73.978347,POINT (-73.9783472 40.6878706),ASHLAND PLACE,FULTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,191609,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1656940,07/16/2012,13:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT,...,Unspecified,NaN,NaN,NaN,245781,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1656941,07/15/2012,10:00,QUEENS,11433,40.690012,-73.792032,POINT (-73.7920324 40.6900123),157 STREET,111 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,268214,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1656942,07/15/2012,8:00,BROOKLYN,11208,40.682391,-73.876616,POINT (-73.8766162 40.6823911),RICHMOND STREET,FULTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,163532,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1656943,07/16/2012,12:30,BRONX,10462,40.831211,-73.850872,POINT (-73.8508718 40.8312111),CASTLE HILL AVENUE,POWELL AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,80950,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN

In [2]:
df_small = df.head(1000)

In [3]:
df_small.to_csv('data-small.csv', sep=',', encoding='utf-8')